/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */

.navbar-header{
    position: relative;
}

#mobile-nav-open-btn{
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    color: #fff;
    top: 6px;
    right: 0;
}
#mobile-nav{
    width: 100%;height: 0%;
/*    display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background:rgba(255,255,2555,0.9);
    transition: all 0.3s linear;
    overflow-y: hidden;
    
}

#mobile-nav-close-btn{
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    color: #212229;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: 0.3s all linear;
}
#mobile-nav-close-btn:hover,#mobile-nav-close-btn:focus{
    background: none;
    color: #5c9320;
}
#mobile-nav-content{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    position: relative;
    top: 10%;
}

#mobile-nav li{
    margin: 20px 0;
}
#mobile-nav a{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    
}

#mobile-nav a:hover,#mobile-nav a:focus{
    color: #5c9320;
    background: none;
}

.green-nav-top #mobile-nav ul.nav>li.active>a{
    color: #5c9320;
    font-weight: 500;
}